#searchBtm{
  cursor:pointer;
  border:none;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#logo{
  width:50px;
}
