<nav class="navbar navbar-expand-md navbar-dark bg-main">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="./assets/img/logo.png" alt="logo" id="logo"> Amazono
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" style="align-items: left; margin-left: 50px;" class="collapse navbar-collapse flex-column"
      id="navbarNav">
    <div class="input-group w-75">
      <input type="text" name="search" class="form-control" [(ngModel)] = "searchTerm" (keyup.enter)="search()" >
      <span id="searchBtn" class="bg-warning" (click)="search()">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <div class="w-100">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
        </li>
        <li class="nav-item ml-0 ml-md-auto" ngbDropdown #dropdown="ngbDropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
            <i class="fa fa-user mr-1"></i>
              <span *ngIf="!token">Accounts</span>
          </a>
          <div ngbDropdownMenu class="dropdown-menu">
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
              <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
            </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
              <i class="fa fa-key" aria-hidden="true"></i> Login
            </a>
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
              <i class="fa fa-key" aria-hidden="true"></i> Logout
            </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
              <i class="fa fa-group" aria-hidden="true"></i> Register
            </a>
          </div>
        </li>
        <li class="nav-item ml-0 ml-md-2">
          <a (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
            <i class="fa fa-shopping-cart mr-1"></i>
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer id="main-footer" class="bg-main text-white mt-5 p-5">
  <div class="container">
    <p class="lead text-center">Copyright &copy; 2018 Amazono</p>
  </div>
</footer>
