<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/image1.jpg" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image2.jpg" alt="second" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/image3.jpg" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/1_image2.jpg" alt="forth" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/1_image1.jpg" alt="fifth" class="item">
      </ng-template>
    </ngb-carousel>
  </div>
</section>
